.rating_no{
    min-width: 30px;
    height: 29px;
    background-color: #FF9A16;
    font-size: 14px;
}
.rating_no2{
    min-width: 30px;
    height: 29px;
    background-color: #FF9A16;
    font-size: 14px;
}
#rating_stars .fs12{font-size: 12px;line-height: 10px;}
#rating_stars .rating-group {
  display: inline-flex;
}
#rating_stars_widget .rating_icon{margin:0px 3px;pointer-events:none;}
#rating_stars_widget .fw_600.clr_fff{line-height:10px}
#rating_stars .rating_icon,#rating_stars_widget .rating_icon {
  cursor: pointer;
  width: 12px;
  height: 12px;
  display: block;
  background-repeat: no-repeat;
  background-image: url(../fonts/grey-star.svg);
}
#rating_stars .rating_icon.active,#rating_stars .rating_icon:hover,#rating_stars .rating_icon.hover_on,#rating_stars_widget .rating_icon.hover_on{
  background-image: url(../fonts/yellow-star.svg);
}
/*rating stars end*/
/*modal*/
@media (min-width: 576px){
  .modal-dialog {
    max-width: 750px;
  }
}
@media only screen and (max-width: 767px) {
  .plag_feedback div {
    margin: 8px 0 !important;
  }
}
.plag_modal1{
  background-image: url(../fonts/plag_modal1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 300px;
}
.close-fdback-form{
  line-height: 0px;
  text-shadow: none;
  background: #111111 !important;
  opacity: 1;
  color: #fff;
  width: 26px;
  height: 26px;
  font-weight: 600;
  position: absolute;
  right: 6px;
  top: 6px;
  z-index: 1;
  border: 0;
}
.modal_rating:before{
  content: '';
  background-color: #E3E7ED;
  width: 20%;
  height: 1px;
}
.modal_rating:after{
  content: '';
  background-color: #E3E7ED;
  width: 20%;
  height: 1px;
}
.plag_modal .bgf2f2f2{background-color: #F2F2F2;}
.plag_modal .feel_free{font-size: 32px;line-height: 34px;}
.plag_modal .fs18{font-size: 18px;}
.plag_modal .mw73{min-width: 73px;}
.plag_modal .cus_scrollbar{height: 137px !important;}
.plag_feedback div{
  background-repeat: no-repeat;
  background-size: contain;
  height: 60px;
  width: 60px;
  display: inline-flex;
  margin: 5px;
  border: 3px solid #efefef;
  border-radius: 54px;
}
.plag_feedback .terrible{
  background-image: url(../fonts/plag_terrible.svg);
}
.plag_feedback .bad{
  background-image: url(../fonts/plag_bad.svg);
}
.plag_feedback .ok{
  background-image: url(../fonts/plag_ok.svg);
}
.plag_feedback .good{
  background-image: url(../fonts/plag_amazing.svg);
}
.plag_feedback .amazing{
  background-image: url(../fonts/plag_amazing.svg);
}
.plag_feedback .user_feedback:hover,.plag_feedback .user_feedback.active,.plag_feedback .user_feedback.hover_on{
  border: 3px solid #FF9A16;
  padding: 19px;
  border-radius: 57px;
}
/*banner*/

.ar_banner{
    background-image: linear-gradient(#EEF1F5,#FDFDFD);
    min-height: 100px;
  }
  .ar_b_btn{
    width: 110px;
    height: 32px;
    background-color: #000;
  }
  .ar_banner .fs24{font-size: 24px;}
  .ar_banner .lh22{line-height: 22px;}
  .ar_banner .lh0{line-height: 0px;}
  .ar_banner_img1{
    background-image: url(../fonts/ar_banner_img1.svg);
    height: 12px;
    background-repeat: no-repeat;
  }
  .ar_banner_img2{
    background-image: url(../fonts/ar_banner_img2.svg);
    height: 12px;
    background-repeat: no-repeat;
    background-position: right;
  }

  .user_feedback:hover{
    cursor: pointer !important;
  }

  .user_feedback:hover{
    cursor: pointer !important;
  }

  .aca_feedback_validations ul{
      margin-bottom: 0 !important;
      margin-top: 0 !important;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #DDDDDD !important;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #DDDDDD !important;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #DDDDDD !important;;  }

