.main_area .icon_sty{
    /*max-height: 120px;*/
    width: 158px;
    width: 164px;
    margin-bottom: 25px;
    cursor: pointer;
}
.main_area .icon_sty div{
    width: 65px;
    height: 65px;
    box-shadow: 0px 0px 5px 5px #EEF1F5;
    border-radius: 5px;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0px auto;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}
.main_area .icon_sty div::before, .main_area .icon_sty div::after{
    content: "";
    width: 0px;
    height: 0px;
    background-color: transparent;
    display: block;
    transition: 1s;
    position: absolute;
}
.main_area .icon_sty div::before{
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;

}
.main_area .icon_sty div::after{
    border-bottom: 2px solid transparent;
    border-right: 2px solid transparent;
    bottom: 0px;
    right: 0px;
}
.main_area .icon_sty:hover div::before, .main_area .icon_sty:hover div::after{
    width: 65px;
    height: 65px;
    border-color: #1E70B9;
    border-radius: 5px;
}
.main_area .icon_sty:hover div{
    transition: 1.5s;
    box-shadow: none;
    background-color: #EEF1F5;
}
.main_area .icon_sty span{
    font-size: 14px;
    font-weight: 600;
    color: #000;
    width: 85%;
    width: 140px;
    display: block;
    margin: 0px auto;
}
.icon_sty .plagiarism_checker{background-image: url(../fonts/plagiarism_checker.svg);}
.icon_sty .article_rewriter{background-image: url(../fonts/article_rewriter.svg);}
.icon_sty .grammar_checker{background-image: url(../fonts/grammar_checker.svg);}
.icon_sty .word_counter{background-image: url(../fonts/word_counter.svg);}
.icon_sty .spell_checker{background-image: url(../fonts/spell_checker.svg);}
.icon_sty .paraphrasing{background-image: url(../fonts/paraphrasing.svg);}
.icon_sty .md5_generator{background-image: url(../fonts/md5_generator.svg);}
.icon_sty .uppercase{background-image: url(../fonts/uppercase.svg);}
.icon_sty .word_combiner{background-image: url(../fonts/word_combiner.svg);}
.icon_sty .img_text{background-image: url(../fonts/img_text.svg);}
.icon_sty .translate_english{background-image: url(../fonts/translate_english.svg);}
.icon_sty .text_img{background-image: url(../fonts/text_img.svg);}
.icon_sty .reverse_img{background-image: url(../fonts/reverse_img.svg);}
.icon_sty .logo_maker{background-image: url(../fonts/logo_maker.svg);}
.icon_sty .img_compression{background-image: url(../fonts/img_compression.svg);}
.icon_sty .favicon_generator{background-image: url(../fonts/favicon_generator.svg);}
.icon_sty .video_gif{background-image: url(../fonts/video_gif.svg);}
.icon_sty .img_resizer{background-image: url(../fonts/img_resizer.svg);}
.icon_sty .crop_img{background-image: url(../fonts/crop_img.svg);}
.icon_sty .convert_jpg{background-image: url(../fonts/convert_jpg.svg);}
.icon_sty .rgb_hex{background-image: url(../fonts/rgb_hex.svg);}
.icon_sty .png_jpg{background-image: url(../fonts/png_jpg.svg);}
.icon_sty .jpg_png{background-image: url(../fonts/jpg_png.svg);}
.icon_sty .keyword_position{background-image: url(../fonts/keyword_position.svg);}
.icon_sty .keywords_density{background-image: url(../fonts/keywords_density.svg);}
.icon_sty .keywords_suggestions{background-image: url(../fonts/keywords_suggestions.svg);}
.icon_sty .keyword_research{background-image: url(../fonts/keyword_research.svg);}
.icon_sty .keyword_competition{background-image: url(../fonts/keyword_competition.svg);}
.icon_sty .related_keyword{background-image: url(../fonts/related_keyword.svg);}
.icon_sty .long_tail{background-image: url(../fonts/long_tail.svg);}
.icon_sty .rich_domains{background-image: url(../fonts/rich_domains.svg);}
.icon_sty .seo_keyword{background-image: url(../fonts/seo_keyword.svg);}
.icon_sty .keyword_analyzer{background-image: url(../fonts/keyword_analyzer.svg);}
.icon_sty .keyword_overview{background-image: url(../fonts/keyword_overview.svg);}
.icon_sty .keyword_difficulty{background-image: url(../fonts/keyword_difficulty.svg);}
.icon_sty .paid_keyword{background-image: url(../fonts/paid_keyword.svg);}
.icon_sty .backlink_checker{background-image: url(../fonts/backlink_checker.svg);}
.icon_sty .backlink_maker{background-image: url(../fonts/backlink_maker.svg);}
.icon_sty .website_link_count{background-image: url(../fonts/website_link_count.svg);}
.icon_sty .website_broken_link{background-image: url(../fonts/website_broken_link.svg);}
.icon_sty .link_price{background-image: url(../fonts/link_price.svg);}
.icon_sty .reciprocal{background-image: url(../fonts/reciprocal.svg);}
.icon_sty .website_link_analyzer{background-image: url(../fonts/website_link_analyzer.svg);}
.icon_sty .broken_backlink{background-image: url(../fonts/broken_backlink.svg);}
.icon_sty .valuable_backlink{background-image: url(../fonts/valuable_backlink.svg);}
.icon_sty .backlinks_competitors{background-image: url(../fonts/backlinks_competitors.svg);}
.icon_sty .anchor_text{background-image: url(../fonts/anchor_text.svg);}
.icon_sty .seo_score{background-image: url(../fonts/seo_score.svg);}
.icon_sty .pagerank{background-image: url(../fonts/pagerank.svg);}
.icon_sty .online_ping{background-image: url(../fonts/online_ping.svg);}
.icon_sty .page_speed{background-image: url(../fonts/page_speed.svg);}
.icon_sty .page_size{background-image: url(../fonts/page_size.svg);}
.icon_sty .page_snooper{background-image: url(../fonts/page_snooper.svg);}
.icon_sty .hit_coounter{background-image: url(../fonts/hit_coounter.svg);}
.icon_sty .xml_sitemap{background-image: url(../fonts/xml_sitemap.svg);}
.icon_sty .url_rewriting{background-image: url(../fonts/url_rewriting.svg);}
.icon_sty .screen_resolution{background-image: url(../fonts/screen_resolution.svg);}
.icon_sty .url_encoder{background-image: url(../fonts/url_encoder.svg);}
.icon_sty .adsense_calculator{background-image: url(../fonts/adsence_calculator.svg);}
.icon_sty .graph_checker{background-image: url(../fonts/graph_checker.svg);}
.icon_sty .graph_generator{background-image: url(../fonts/graph_generator.svg);}
.icon_sty .qr_code{background-image: url(../fonts/qr_code.svg);}
.icon_sty .htaccess_redirect{background-image: url(../fonts/htaccess_redirect.svg);}
.icon_sty .get_http{background-image: url(../fonts/get_http.svg);}
.icon_sty .twitter_card{background-image: url(../fonts/twitter_card.svg);}
.icon_sty .internet_speed{background-image: url(../fonts/internet_speed.svg);}
.icon_sty .wordpress_theme{background-image: url(../fonts/wordpress_theme.svg);}
.icon_sty .instant_search{background-image: url(../fonts/instant_search.svg);}
.icon_sty .virus_scan{background-image: url(../fonts/virus_scan.svg);}
.icon_sty .screenshot_generator{background-image: url(../fonts/screenshot_generator.svg);}
.icon_sty .secure_email{background-image: url(../fonts/secure_email.svg);}
.icon_sty .mobile_friendly{background-image: url(../fonts/mobile_friendly.svg);}
.icon_sty .video_downloader{background-image: url(../fonts/video_downloader.svg);}
.icon_sty .facebook_downloader{background-image: url(../fonts/facebook_downloader.svg);}
.icon_sty .soundcloud{background-image: url(../fonts/soundcloud.svg);}
.icon_sty .vimeo_downloader{background-image: url(../fonts/vimeo_downloader.svg);}
.icon_sty .instagram_downloader{background-image: url(../fonts/instagram_downloader.svg);}
.icon_sty .minify_css{background-image: url(../fonts/minify_css.svg);}
.icon_sty .minify_html{background-image: url(../fonts/minify_html.svg);}
.icon_sty .minify_js{background-image: url(../fonts/minify_js.svg);}
.icon_sty .robots_txt{background-image: url(../fonts/robots_txt.svg);}
.icon_sty .url_shortener{background-image: url(../fonts/url_shortener.svg);}
.icon_sty .domain_overview{background-image: url(../fonts/domain_overview.svg);}
.icon_sty .url_opener{background-image: url(../fonts/url_opener.svg);}
.icon_sty .link_tracker{background-image: url(../fonts/link_tracker.svg);}
.icon_sty .reverse_ip{background-image: url(../fonts/reverse_ip.svg);}
.icon_sty .server_status{background-image: url(../fonts/server_status.svg);}
.icon_sty .class_ip{background-image: url(../fonts/class_ip.svg);}
.icon_sty .code_text{background-image: url(../fonts/code_text.svg);}
.icon_sty .alexa_comparison{background-image: url(../fonts/alexa_comparison.svg);}
.icon_sty .page_comparison{background-image: url(../fonts/page_comparison.svg);}
.icon_sty .spider_simulator{background-image: url(../fonts/spider_simulator.svg);}
.icon_sty .comparison_search{background-image: url(../fonts/comparison_search.svg);}
.icon_sty .google_cache{background-image: url(../fonts/google_cache.svg);}
.icon_sty .whois_lookup{background-image: url(../fonts/whois_lookup.svg);}
.icon_sty .mozrank_checker{background-image: url(../fonts/mozrank_checker.svg);}
.icon_sty .page_authority{background-image: url(../fonts/page_authority.svg);}
.icon_sty .google_index{background-image: url(../fonts/google_index.svg);}
.icon_sty .alexa_checker{background-image: url(../fonts/alexa_checker.svg);}
.icon_sty .redirect_checker{background-image: url(../fonts/redirect_checker.svg);}
.icon_sty .similar_site{background-image: url(../fonts/similar_site.svg);}
.icon_sty .cloaking_checker{background-image: url(../fonts/cloaking_checker.svg);}
.icon_sty .google_malware{background-image: url(../fonts/google_malware.svg);}
.icon_sty .find_facebook{background-image: url(../fonts/find_facebook.svg);}
.icon_sty .check_gzip{background-image: url(../fonts/check_gzip.svg);}
.icon_sty .ssl_checker{background-image: url(../fonts/ssl_checker.svg);}
.icon_sty .pokemon_go{background-image: url(../fonts/pokemon_go.svg);}
.icon_sty .find_blog{background-image: url(../fonts/find_blog.svg);}
.icon_sty .geo_ip{background-image: url(../fonts/geo_ip.svg);}
.icon_sty .apps_rank{background-image: url(../fonts/apps_rank.svg);}
.icon_sty .my_browser{background-image: url(../fonts/my_browser.svg);}
.icon_sty .social_status{background-image: url(../fonts/social_status.svg);}
.icon_sty .my_ip{background-image: url(../fonts/my_ip.svg);}
.icon_sty .ip_location{background-image: url(../fonts/ip_location.svg);}
.icon_sty .proxy_list{background-image: url(../fonts/proxy_list.svg);}
.icon_sty .domain_age{background-image: url(../fonts/domain_age.svg);}
.icon_sty .domain_authority{background-image: url(../fonts/domain_authority.svg);}
.icon_sty .domain_lookup{background-image: url(../fonts/domain_lookup.svg);}
.icon_sty .domain_hosting{background-image: url(../fonts/domain_hosting.svg);}
.icon_sty .find_dns{background-image: url(../fonts/find_dns.svg);}
.icon_sty .domain_name{background-image: url(../fonts/domain_name.svg);}
.icon_sty .domain_ip{background-image: url(../fonts/domain_ip.svg);}
.icon_sty .check_blacklist{background-image: url(../fonts/check_blacklist.svg);}
.icon_sty .expired_domain{background-image: url(../fonts/expired_domain.svg);}
.icon_sty .bulk_domain{background-image: url(../fonts/bulk_domain.svg);}
.icon_sty .index_pages{background-image: url(../fonts/index_pages.svg);}
.icon_sty .meta_analyzer{background-image: url(../fonts/meta_analyzer.svg);}
.icon_sty .meta_generator{background-image: url(../fonts/meta_generator.svg);}
.icon_sty .password_encryption{background-image: url(../fonts/password_encryption.svg);}
.icon_sty .password_strength{background-image: url(../fonts/password_strength.svg);}
.icon_sty .password_generator{background-image: url(../fonts/password_generator.svg);}
.icon_sty .merge_pdf{background-image: url(../fonts/merge_pdf.svg);}
.icon_sty .rotate_pdf{background-image: url(../fonts/rotate_pdf.svg);}
.icon_sty .unlock_pdf{background-image: url(../fonts/unlock_pdf.svg);}
.icon_sty .lock_pdf{background-image: url(../fonts/lock_pdf.svg);}
.icon_sty .watermark{background-image: url(../fonts/watermark.svg);}
.icon_sty .pdf_word{background-image: url(../fonts/pdf_word.svg);}
.icon_sty .word_pdf{background-image: url(../fonts/word_pdf.svg);}
.icon_sty .pdf_jpg{background-image: url(../fonts/pdf_jpg.svg);}
.icon_sty .jpg_pdf{background-image: url(../fonts/jpg_pdf.svg);}
.icon_sty .powerpoint_pdf{background-image: url(../fonts/powerpoint_pdf.svg);}
.icon_sty .compress_pdf{background-image: url(../fonts/compress_pdf.svg);}
.icon_sty .excel_pdf{background-image: url(../fonts/excel_pdf.svg);}
.icon_sty .split_pdf{background-image: url(../fonts/split_pdf.svg);}
.icon_sty .json_viewer{background-image: url(../fonts/json_viewer.svg);}
.icon_sty .json_formatter{background-image: url(../fonts/json_formatter.svg);}
.icon_sty .json_validator{background-image: url(../fonts/json_validator.svg);}
.icon_sty .json_editor{background-image: url(../fonts/json_editor.svg);}
.icon_sty .json_xml{background-image: url(../fonts/json_xml.svg);}
.icon_sty .json_beautifier{background-image: url(../fonts/json_beautifier.svg);}
.icon_sty .unit_converter{background-image: url(../fonts/unit_converter.svg);}
.icon_sty .time_converter{background-image: url(../fonts/time_converter.svg);}
.icon_sty .power_converter{background-image: url(../fonts/power_converter.svg);}
.icon_sty .speed_converter{background-image: url(../fonts/speed_converter.svg);}
.icon_sty .volume_conversion{background-image: url(../fonts/volume_conversion.svg);}
.icon_sty .length_converter{background-image: url(../fonts/length_converter.svg);}
.icon_sty .voltage_converter{background-image: url(../fonts/voltage_converter.svg);}
.icon_sty .area_converter{background-image: url(../fonts/area_converter.svg);}
.icon_sty .weight_converter{background-image: url(../fonts/weight_converter.svg);}
.icon_sty .byte_converter{background-image: url(../fonts/byte_converter.svg);}
.icon_sty .temperature_conversion{background-image: url(../fonts/temperature_conversion.svg);}
.icon_sty .torque_converter{background-image: url(../fonts/torque_converter.svg);}
.icon_sty .pressure_conversion{background-image: url(../fonts/pressure_conversion.svg);}
.icon_sty .text_binary{background-image: url(../fonts/text_binary.svg);}
.icon_sty .binary_text{background-image: url(../fonts/binary_text.svg);}
.icon_sty .binary_hex{background-image: url(../fonts/binary_hex.svg);}
.icon_sty .hex_binary{background-image: url(../fonts/hex_binary.svg);}
.icon_sty .binary_ascii{background-image: url(../fonts/binary_ascii.svg);}
.icon_sty .ascii_binary{background-image: url(../fonts/ascii_binary.svg);}
.icon_sty .binary_decimal{background-image: url(../fonts/binary_decimal.svg);}
.icon_sty .decimal_binary{background-image: url(../fonts/decimal_binary.svg);}
.icon_sty .text_ascii{background-image: url(../fonts/text_ascii.svg);}
.icon_sty .decimal_hex{background-image: url(../fonts/decimal_hex.svg);}
.icon_sty .age_calculator{background-image: url(../fonts/age_calculator.svg);}
.icon_sty .percentage_calculator{background-image: url(../fonts/percentage_calculator.svg);}
.icon_sty .average_calculator{background-image: url(../fonts/average_calculator.svg);}
.icon_sty .confidence_interval_calculator{background-image: url(../fonts/confidence_interval_calculator.svg);}
.icon_sty .sales_tax_calculator{background-image: url(../fonts/sales_tax_calculator.svg);}
.icon_sty .margin_calculator{background-image: url(../fonts/margin_calculator.svg);}
.icon_sty .probability_calculator{background-image: url(../fonts/probability_calculator.svg);}
.icon_sty .paypal_fee_calculator{background-image: url(../fonts/paypal_fee_calculator.svg);}
.icon_sty .discount_calculator{background-image: url(../fonts/discount_calculator.svg);}
.icon_sty .earnings_per_share_calculator{background-image: url(../fonts/earnings_per_share_calculator.svg);}
.icon_sty .cpm_calculator{background-image: url(../fonts/cpm_calculator.svg);}
.icon_sty .loan_to_value_calculator{background-image: url(../fonts/loan_to_value_calculator.svg);}
.icon_sty .gst_calculator{background-image: url(../fonts/gst_calculator.svg);}
.icon_sty .roman_numerals_date_converter{background-image: url(../fonts/roman_numerals_date_converter.svg);}
.icon_sty .credit_card_validator{background-image: url(../fonts/credit_card_validator.svg);}
.icon_sty .text_to_speech{background-image: url(../fonts/text_to_speech.svg);}
.icon_sty .jpg_to_word{background-image: url(../fonts/jpg_to_word.svg);}
.icon_sty .small_text_generator{background-image: url(../fonts/small_text_generator.svg);}
.icon_sty .online_text_editor{background-image: url(../fonts/online_text_editor.svg);}
.icon_sty .reverse_text_generator{background-image: url(../fonts/reverse_text_generator.svg);}
.icon_sty .online_php_formatter{background-image: url(../fonts/online_php_formatter.svg);}
.icon_sty .html_formatter{background-image: url(../fonts/html_formatter.svg);}
.icon_sty .online_html_editor{background-image: url(../fonts/online_html_editor.svg);}
.icon_sty .html_viewer{background-image: url(../fonts/html_viewer.svg);}
.icon_sty .xml_formatter{background-image: url(../fonts/xml_formatter.svg);}
.icon_sty .xml_beautifier{background-image: url(../fonts/xml_beautifier.svg);}
.icon_sty .resume_builder{background-image: url(../fonts/resume_builder.svg);}
.icon_sty .flyer_maker{background-image: url(../fonts/flyer_maker.svg);}
.icon_sty .poster_maker{background-image: url(../fonts/poster_maker.svg);}
.icon_sty .invitation_maker{background-image: url(../fonts/invitation_maker.svg);}
.icon_sty .business_card_maker{background-image: url(../fonts/business_card_maker.svg);}
.icon_sty .meme_generator{background-image: url(../fonts/meme_generator.svg);}
.icon_sty .dailymotion_video_downloader{background-image: url(../fonts/dailymotion.svg);}
@media only screen and (max-width: 767px) {
    .main_area .icon_sty{
        margin: 4px;
        width: 132px;
        display: inline-flex;
    }
    .main_area .icon_sty div{display:none;}
    .main_area .icon_sty span{
        min-height: 40px;
        background-color: #EFF2F5;
        align-items: center;
        justify-content: center;
        display: flex;
        font-size: 13px;
        line-height: 16px;
    }
    .mhs_sty{justify-content: center;}
    #design_studio_box .icon_sty {width: 126px;}
    body #design_studio_box{padding: 30px 5px;}
    #design_studio_box a span {background: #fff;}
}
.icon_animation {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.icon_animation samp {
    display: inline-block;
    position: absolute;
    left: 8px;
    background: #EEF1F5;
    animation: icon_animation 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    height:8px;
}
.main_area .icon_sty:hover .icon_animation samp {background:#fff}
.icon_animation samp:nth-child(1) {
    top: 10px;
    animation-delay: -0.24s;
}
.icon_animation samp:nth-child(2) {
    top: 28px;
    left: 30px;
    animation-delay: -0.12s;
}
.icon_animation samp:nth-child(3) {
    top: 47px;
    animation-delay: 0s;
}
@keyframes icon_animation {
    0% {
        left: 0px;
        width: 0px;
    }
    50%, 100% {
        left: 8px;
        width: 48px;
    }
}
#design_studio_box{
    background-image: url(../images/design-studio-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    padding: 30px;
    padding-bottom: 100px;
}
#design_studio_box h2{text-transform: uppercase}
#design_studio_box h2 span{font-weight: 100}
#design_studio_box .icon_sty{font-weight: 100}
#design_studio_box .icon_sty div{background-color:#fff;width:90px;height:90px;background-size: auto 50px;}
.ds1 {border-bottom: 5px solid #60AFF8;}
.ds2 {border-bottom: 5px solid #5FD7E5;}
.ds3 {border-bottom: 5px solid #96A0F5;}
.ds4 {border-bottom: 5px solid #EBD091;}
.ds5 {border-bottom: 5px solid #FFBBBB;}
.ds6 {border-bottom: 5px solid #B3F1C3;}
.ds7 {border-bottom: 5px solid #D5B9F9;}
#design_studio_box h2 a {color: #222;}
#design_studio_box h2 a:hover{text-decoration: none;}
#design_studio_box .icon_sty div:hover {
    background-color: #EEF1F5;
    border-color: #000 !important;
    transition: .5s;
}
h2.sub_headings.mt25 {margin-top: 25px !important;}
/*#design_studio_box .icon_sty div*/
#design_studio_box .icon_sty div::after,#design_studio_box .icon_sty div::before{
    display: none;
}